@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background:#2c3e50 ;
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #31c924;
}
.navbar button{
    font-size: 50px;
    background: none;
    color: white;
    border: none;
    margin-right: 20px;
}
.logo{
    font-size: 35px;
    display: flex;
    color: white;
    justify-content: space-between;
    width: 230px;
}
.animo{
    width: 50%;
    padding: 20px;
    height: 400px;
    text-align: center;
    background:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: solid #31c924;
}

.animo input, select{
    width: 100%;
    padding-left: 10px;
    height: 44px;
    border: solid #31c924;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.save_btn{
    background-color:#31c924 ;
    cursor: pointer;
}
.save_btn:hover{
    transform: scale(0.96);
}
.btn{
    position: absolute;
    top: 10%;
    left: 1%;
    width: 100px;
    height: 30PX;
    margin-top: 30px;
    background:#31c924;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    
}
